.container {
    margin-top: 2rem;
}

.recipe-image {
    width: 100%;
    height: auto;
    max-height: 500px; /* Adjust the maximum height as needed */
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-details {
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.cooking-time, .description {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 1rem;
}

.ingredients, .instructions {
    margin-top: 1.5rem;
}

.ingredients h3, .instructions h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.ingredients ul, .instructions p {
    font-size: 1rem;
    color: #555;
}



