.recipe-image {
    width: 100%;
    height: auto;
    max-width: 300px; /* Adjust this value as needed */
    object-fit: cover;
}

.card {
    width: 80%; /* Adjust this value as needed */
    height: auto; /* Adjust this value as needed */
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    width: 100%;
    height: auto;
    max-height: 600px; /* Adjust this value as needed */
    object-fit: cover;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-card {
    width: 100%;
    max-width: 400px;
}

